<header>
    <figure id="avatar"><img src="~/Content/images/avatares/@(Model.avatar).png" alt="AVATAR" /></figure>
    <p>@Model.nombre</p>
    <p>@Model.apellido</p>
    <br />
    <p>@Model.email</p>
    <nav class="nav-comprar">
        <form action="/home/jugar" method="post">
            <h5>@Model.dinero</h5>
            <h5>@Model.partidas</h5>
            <h5>@Model.victorias</h5>
            <button type="submit" class="btn btn-default">Comprar</button>
        </form>
    </nav>
</header>