<header>
    <div id="perfil">
        <figure id="avatar"><img src="~/Content/images/avatares/@(Model.avatar).png" alt="AVATAR" /></figure>
        <table>
            <tr>
                <td><b>Apodo: </b></td>
                <td>@Model.user</td>
            </tr>
            <tr>
                <td><b>Nombre: </b></td>
                <td>@Model.nombre</td>
            </tr>
            <tr>
                <td><b>Apellido: </b></td>
                <td>@Model.apellido</td>
            </tr>
            <tr>
                <td><b>Email: </b></td>
                <td>@Model.email</td>
            </tr>
        </table>       
    </div>
    <nav class="nav-comprar">
            <table>
                <tr>
                    <td colspan="2"><b>Partidas</b></td>
                    <td><button type="submit" class="btn" id="btn-comprar" >Buy</button></td>
                </tr>
                <tr>
                    <td><h5 class="">Jugadas</h5></td>
                    <td><h5 class="">Victorias</h5></td>
                </tr>                
                <tr>
                    <td><h5 class="m-partidas">@Model.partidas</h5></td>
                    <td><h5 class="m-victorias">@Model.victorias</h5></td>
                </tr>
                <tr>
                    <td><h5 class="m-dinero">@Model.dinero</h5></td>
                    <td><h5 id="m-fichas" class="m-fichas">@Model.fichas</h5></td>
                </tr>
            </table>            
    </nav>
    @Html.Partial("apuesta")
</header>
<div id="comprar">
    <p class="m-dinero">Dinero Disponible: @Model.dinero</p>
    <p class="m-fichas">Fichas a comprar: </p><input type="number" name="fichas-comprar" id="fichas-comprar" />
    <button id="btncomprar">Comprar</button>
</div>